html, body {
         width: 100%;
         height: 100%;
         margin: 0;
         overflow: auto;
      }
      .support-wrapper {
      	height: 100%;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
      }
      .chat-wrapper {
      	padding-left: 100px;
        padding-right: 100px;
        height: 100%;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
      }
